<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blogr</title>
  </head>
  <body>
    <h1>Blogr</h1>
    <div id="container">
      <p>This is Blogr</p>
    </div>
    <script src="https://npmcdn.com/react@15.3.1/dist/react.js"></script>
    <script src="https://npmcdn.com/react-dom@15.3.1/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.24/browser.min.js"></script>
    <script type="text/babel" src="/static/js/comments.js"></script>
  </body>
</html>
